* {
  font-family: try arial, Helvetica, sans-serif;
}
#payment_nav {
  display: flex;
  justify-content: space-between;
  /* padding: 0px 5px; */
  border-bottom: 1px solid rgb(190, 189, 189);
  height: 50px;
}
#payment_left {
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  align-items: center;
  width: 10%;
  margin-left: 35px;
  color: rgb(92, 92, 92);
}
#payment_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
  width: 22%;
}
#payment_right > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#payment_mid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}
#payment_right > a:hover {
  color: rgb(184, 183, 183);
}
