* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
#hn1{
    width: 100%;
    height: 30px;
    display: flex;

    padding: 0% 42% 0% 42%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(217, 212, 212);
}
#hmb{
    cursor: pointer;
    color: black;
    text-decoration: none;
}
#mnp{
    width: 100%;
    height: 130px;
    margin: auto;
    border: 0px solid red;

}
#mnp a , h1{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}
#mnp>div:nth-child(1){
    height:55% ;
    width: 100%;
    border: 0px solid black;
    display: flex;
    justify-content: space-between;
}
#mnp>div:nth-child(1)>div:nth-child(2){
  width: 20%;
  height: 100%;
  display: flex;
  
}
#lgn{
  width: 30%;
  height: 100%;
  border: 0px solid red;
}
#mnp>div:nth-child(2){
    height:45% ;
    width: 100%;
    border:  0px solid black;
}
#mnp>div:nth-child(2)>div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px solid gray;
    width: 70%;
    height: 100%;
}
#mnp>div:nth-child(1)>div:nth-child(1){
    display: flex;
    border: 0px solid gray;
    width: 60%;
    height: 100%;
    justify-content: space-between;
}


#mnp>div:nth-child(1)>div:nth-child(1)>div{
    border: 0px solid black;
    width: 50%;
}
#mnp>div:nth-child(1)>div:nth-child(1)>div:nth-child(1){
display: flex;
width: 27%;
justify-content: space-between;
align-items: center;
}
#mnp>div:nth-child(1)>div:nth-child(1)>div:nth-child(2){
    display: flex;
    justify-content: end;
    align-items: center;
}
#mnp>div:nth-child(1)>div:nth-child(1)>div:nth-child(1)>p{
    width: 20%;
    border: 0px solid red;
    padding: 8px 2px 8px 3px ;
    
}
#mnp>div:nth-child(1)>div:nth-child(1)>div:nth-child(1)>p>a{
    text-decoration: none;
    color: black;
}
#mnp>div:nth-child(1)>div:nth-child(1)>div:nth-child(1)>p:nth-child(1){
    width: 35%;
}
#mnp>div:nth-child(1)>div:nth-child(1)>div:nth-child(1)>p:hover{
    border-radius: 5px;
    background-color: gainsboro;
    cursor: pointer;
}
#sale{
    color: red;
}
#mnp>div:nth-child(2)>div:nth-child(1)>p:hover{
cursor: pointer;
color: gray;
}
/* anythingop */

/* Navbar container */
.navbar {
    overflow: hidden;
    /* background-color: #333; */
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    /* background-color: red; */
    color: gray;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    padding-top: 10px;
    /* margin: auto; */
    left: 0%;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    border: 0px solid blue;
  }
  
  /* Mega Menu header, if needed */
  .dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Create three equal columns that floats next to each other */
  .row{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    border: 0px solid green;
  }
  .column {
    float: left;
    /* width: 25%; */
    
    padding: 0px;
    /* background-color: #ccc; */
    height: auto;
    margin-bottom: 20px;
  }
  
  /* Style links inside the columns */
  .column a {
    float: none;
    color: black;
    padding: 6px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a background color on hover */
  .column>a:hover {
    text-decoration: underline;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* #atz{
    width: 250px;
    height: 250px;
    border: 0px solid red;
    display: flex;
    gap: 40px;
}
#atz>div{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#atz>div>p:hover{
    cursor: pointer;
   font-weight: bold;
} */
#sc{
    color: brown;
}
.dropbtn:hover{
cursor: pointer;
}
.column>a:hover{
    background-color:rgb(246, 244, 244);
    border-radius: 10px;
    border: .1px solid blueviolet;
    
}
/* .dropdown-content{
    display: flex;
} */
#imgh{
    width: 30%;
    order: 1;
}
#imgh>img{
    width: 100%;
    cursor: pointer;
}
#imgh>img+div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#lgn>a>img{
  height: 30px;
  border-radius: 10px;
}
#lgn>a:hover{
  background-color: gainsboro;
  padding: 5px;
  border-radius: 5px;
}
#lgn{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#snp{
  display: flex;
  justify-content: space-between;
}
#snp>div:nth-child(2){
  width: 20%;
  height: 100%;
  border: 0px solid black;
  display: flex;
  align-items: center;
}

#form1.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
#form1.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

#form1.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
#form1.example::after {
  content: "";
  clear: both;
  display: table;
}
#mnp{
  position: fixed;
  background-color: white;

}
#hn1{
  position: fixed;

}
#h1{
  margin-bottom: 60px;
}