
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#container {
 
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  /* border: 2px solid red; */
  width: 90%;
  margin: auto;
  padding-top: 100px;
}

.div1,
.div2 {
  margin-bottom: 50px;
}
.div4,
.div5 {
  width: 70%;
}

.div3 {
  height: 400px;
  margin-top: 50px;
  margin-left: 50px;
 
  
}
 .name{
  color: #222222;
  font-size: 22px;
  font-weight: 700;
  padding-left: 10px;
}
.div3 > h3:hover {
  cursor: pointer;
}

img {
  width: 100%;
}
/* box 2 styles  */

.div6 {
  display: flex;
  grid-area: 3/1/4/-1;
  height: 50px;
}
.div8 {
  margin-top: 50px;
  grid-area: 4/1/5/2;
}
.div8 > h4 {
  padding: 22px;
}
.div8 li {
  padding: 12px;
}
.div9 {
  grid-area: 4/2/5/3;
}
.div9 h4,
p {
  padding: 15px;
}
.div10 {
  grid-area: 4/3/6/-1;
}
.addtobag {
  width: 60%;
  height: 40px;
  border: 0px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 4% 0;
  margin-left: 20px;
}
.addtobag:hover {
  cursor: pointer;
  background-color: rgba(37, 37, 37, 0.69);
}
.wishbtn {
  width: 20%;
  margin-left: 20px;
  height: 40px;
  font-weight: bold;
}
#sizeGuide {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  line-height: 22px;
  border: 1px slolid#727272;
  padding: 0 12px 0 16px;
  display: grid;
}
select {
  border-radius: 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

#recommended {
  width: 90%;
  display: flex;
  gap: 10px;
  /* border: 2px solid red; */
}

#recommended {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
#recommended div:nth-child(3) {
  margin: 0px;
}
#recommended img {
  width: 250px;
}

#heading {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#Yflairclothing {
  padding-top: 25px;
  margin-top: 0px;
  display: flex;
  /* border: 2px solid red; */
  text-align: center;
  justify-content: space-around;
}
#Yflairclothing > div {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

#b1,
#b2,
#b3 {
  border: 2px solid gray;
}
#b3 {
  margin-top: 0px;
}
.why {
  margin: 20px;
  height: 28px;
  font-size: 22px;
  text-align: center;
  margin-top: 80px;
}
#Yflairclothing p {
  padding: 10px;
}
#contactUs {
  margin-top: 75px;
  margin-bottom: 75px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#contactUs p {
  padding: 10px;
}

#contactUs div {
  width: 40%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
